# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# sqlite
rollrace.db
rollrace-test.db

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
data
.env.local
.env.development.local
.env.test.local
.env.production.local
*~

# DB
db-config.js
